# Для корректной работы создайте свой .env по этому шаблону

# ============== Airflow =================

# Дефолтное значение, оставить
AIRFLOW_UID=50000

#Дефолтные значения, можете поменять на свои
AIRFLOW_POSTGRES_USER="airflow"
AIRFLOW_POSTGRES_PASSWORD="airflow"
AIRFLOW_POSTGRES_DB="airflow"

# ============== Postgres ================

# Дефлотные значения, можете поменять пароль, остальное лучше оставить
MY_POSTGRES_USER="postgres"
MY_POSTGRES_PASSWORD="postgres"
MY_POSTGRES_DB="project_db"

# ============== Pgadmin =================

# Дефолтные значения, можете поменять
MY_PGADMIN_DEFAULT_EMAIL="admin@admin.com"
MY_PGADMIN_DEFAULT_PASSWORD="admin"